.btn{
  text-align: center;
  transform: translateY(65vh);
}

.header__btn{
  text-align: center;
  transform: translateY(83vh);

}

.header__btn1,
.header__btn2 {
  padding: 1rem 11rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.6rem;
}



.header__btn1 , .header__btn1 a{
  margin-right: 1rem;
  background-color: #3e69e1d3;
  color: #fff;
  text-decoration: none;
}

.header__btn2, .header__btn2 a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}



.header__btn a {
  text-decoration: none;
  /* font-size: 1.6rem; */
}

.header__cta-button .header__btn1 {
  padding: 1rem 11rem;
  border-radius: 0.3rem;
  background-color: #3e69e1d3;
  color: #fff;
  margin-right: 1rem;
  cursor: pointer;
}

.header__cta-button .header__btn2 {
  padding: 1rem 11rem;
  border-radius: 0.3rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}


.btn2{
  text-align: center;
  transform: translateY(66vh);
}

.btn3{
  transform: translateY(41vh)
}

.header__btn3{
  padding: 1.5rem 8.9rem;
  margin-left: 3rem;
  font-size: 1.6rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: .3rem;
}

