*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-view{
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}

.notice{
  height: 50px;
  text-align: center;
  padding-top: 15px;
  font-weight: 300;
  font-size: 14px;
}
.spec{
  text-decoration: underline;
}